<div class="footer">
  <p>
    Privacy/Disclaimer Statement:
    <a href="privacy_statement.html">Click here</a> to view our privacy policy
    and disclaimer.
  </p>
  <p>&copy; 2024 Pawsome Companions. All rights reserved.</p>
</div>
