<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="privacy_statement.css" />
    <title>Privacy/Disclaimer Statement</title>
  </head>
  <body>
    <div class="container">
      <h2>Privacy/Disclaimer Statement</h2>
      <p>
        At Pawsome Companions, we are committed to protecting your privacy and
        ensuring the security of your personal information. We understand the
        importance of safeguarding your data and want to assure you that any
        information collected through our website will be used solely for the
        purpose of facilitating pet adoption processes and improving our
        services.
      </p>
      <br />
      <p>
        We will never sell or misuse your personal information. Any data
        collected, including but not limited to names, email addresses, and
        contact information, will be treated with the utmost confidentiality and
        will not be disclosed to third parties without your explicit consent.
      </p>
      <br />
      <p>
        While we strive to provide accurate and up-to-date information on our
        website, please note that the content provided is for informational
        purposes only. We cannot guarantee the accuracy or completeness of all
        information, and users are encouraged to verify details independently.
      </p>
      <br />
      <p>
        By using our website, you agree to abide by our privacy policy and
        disclaimer. If you have any questions or concerns regarding your privacy
        or the use of your information, please don't hesitate to contact us.
      </p>
      <br />
      <p>
        Thank you for choosing Pawsome Companions for your pet adoption needs.
      </p>
      <br />
    </div>
  </body>
</html>
